body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

/* REMOVE EVERYTHING ABOVE THIS AFTER POSITIONING */

/*Nav bar */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.top-navigation {
	background-color:fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.links {
	float:right;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
	margin-top:1.4rem;
}

.links > li {
	display:inline-block;	
	margin-left:1.4rem;
}

.logo {
	margin:.8rem;
}

.top-navigation .content {
	padding: 0px 15px;
	box-sizing:border-box;
}

.links .active {
	color: #4c5058;
	font-weight: 500;
}

.links > li:hover {
	color:black;
	cursor:pointer;
}

.main-image {
	width:100vw;
	height:100vw;
	position:relative;
	background-image:url("/home/us-gov/Desktop/Projects/clone-site/images/background-image");
	background-repeat:no-repeat;
	
}

