body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

/* REMOVE EVERYTHING ABOVE THIS AFTER POSITIONING */

/*Nav bar */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.top-navigation {
	background-color:fff;

}

.top-navigation > .content {
	
	height: 70px;
	
}

.links {
	float:right;
	
	font-size: 16px;
	color: #838994;
	
	
	margin-top:1.4rem;
}

.links > li {
	display:inline-block;	
	margin-left:1.4rem;
}

.logo {
	margin:.8rem;
}

.content {
	padding: 0px 15px;
	box-sizing:border-box;
	width: 970px;
	margin:0 auto;

}

.links .active {
	color: #4c5058;
	font-weight: 500;
}

.links > li:hover {
	color:black;
	cursor:pointer;
}

.introduction {
	height:585px;
	background-position: 0 bottom;
	background-image:url("/home/us-gov/Desktop/Projects/clone-site/images/background-image");
	background-size:cover;
	text-align: center;
	background-repeat:no-repeat;
	overflow:auto;
}

.introduction > .content {
	color:white;
	margin-top:13rem;
	font-size:1.3rem;
	
	
}	

.introduction h1, .introduction h3 {
	font-weight:300;
	text-align:center;
}

button {
	text-shadow:none;
	background-color:#f15a29;
	border-color:#f15a29;
	border-style:none;
	border-radius:4px;
	width:9.688rem
	margin:0 auto;
	padding:1rem 1.5rem;
	color:white;
	font-size:1.125rem;
}

button:hover {
	cursor:pointer;
	background-color:#ff3300;
}

.cases h2 {
	font-weight:300;
	font-size:2.75rem;
	text-align:center;
	margin-top:10rem;
}

.cases .devices {
	display:inline-block;
	box-sizing:border-box;
	width:33.3333333%;
	border:1px solid black;
	height: 4em;
}

.cases .devices h3 {
	font-weight:300;
	font-size:1.5rem;


}