body {
    background-color: LightGray;
}
div {
    border: 1px solid Chocolate;
}

/* REMOVE EVERYTHING ABOVE THIS AFTER POSITIONING */

/*Nav bar */

.top-navigation {
	background-color:fff;
}

.top-navigation > .content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
}

.logo {
	margin:.8rem;
}